@model ChangeRoleViewModel

<h2>Зміна ролей для користувача @Model.UserEmail</h2>
<form asp-action="EditRoles" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    @foreach (var role in Model.AllRoles)
    {
        <div>
            <input type="checkbox" name="Roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
            @role.Name
        </div>
    }
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
